/* src/styles/SliderCarousel.css */
.carousel-card {
  padding: 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.carousel-card .ant-card-body{
  padding: 0;
}

.carousel-slide {
  position: relative;
  text-align: center;
}

.carousel-image {
  width: 100%;
  height: calc(100vh - 120px);
  min-height: 400px;
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
/* .carousel-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black overlay */
/* } */

.skeleton-carousel{
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 10%;
}

.skeleton-form{
  width: 40%;
  position: absolute;
  right: 30px;
  top: 5%;
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1;
}

.cta-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.753);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.cta-form-container h2 {
  margin-bottom: 20px;
  color: #3A3A8D;
}

.cta-container{
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1000;
}

@media (max-width: 770px) {
  .get-quote-button {
    font-size: 18px;
    padding: 12px;
    margin-top: 20px;
    height: fit-content;
    background-color: #001529;
  }

  .cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
  }
}